.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #696969;
}

.title {
  font-size: 6rem;
}

.homeLink {
  margin-top: 20px;
  opacity: .8;;
}

.homeLink:hover,
.homeLink:focus {
  color: #333;
  font-weight: bold;
  opacity: 1;
}